.item {
  display: flex;
  align-items: center;
  border: 2px solid #021363;
  border-radius: 8px;
  margin-bottom: 10px;
  align-content: center;
  justify-content: space-between;
}

.icon {
  margin: 8px;
}

.flex {
  display: flex;
  align-items: center;
}

.button {
  width: 120px;
  height: 55px;
  margin: 10px;
}
